.hide {
    display: none;
}

.messages {
    overflow-y: scroll;
    min-height: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.is-typing-info {
    font-size: 13px;
}

.username {
    font-weight: bold;
}